@import "bower_components/bootstrap/less/variables.less";
@import "bower_components/bootstrap/less/mixins.less";

// Colors
@aqua-blue:     #4b7890;
@royal-blue:    #1b5790;
@gray-medium:   #414042;
@white:         #ffffff;

@brand-primary: #60afd7;
@brand-success: #74ab00;
@brand-info:    #5bc0de;
@brand-warning: #ffab01;
@brand-danger:  #d9534f;

@body-bg:       @gray-medium;
@text-color:    @white;

// Iconography
@icon-font-path: "/assets/fonts/";

// Buttons
@btn-nav-color:  @white;
@btn-nav-bg:     @aqua-blue;
@btn-nav-border: @btn-nav-bg;

// Forms
@input-color-placeholder: @gray-light;

// Navbar
@navbar-margin-bottom:  0;
@navbar-default-color:  @btn-nav-color;
@navbar-default-bg:     @btn-nav-bg;
@navbar-default-border: none;

// Inverted navbar
@navbar-inverse-color:            @gray-light;
@navbar-inverse-link-color:       @gray-light;
@navbar-inverse-link-hover-color: @white;

// Popovers
@popover-arrow-color: @white;

// Modals
@modal-inner-padding: 20px;

// Panels
@panel-bg: @gray-dark;

// Wells
@well-bg: @gray-dark;

// Miscellaneous
@component-offset-horizontal: 180px;
@component-title-margin: 5px;
@component-padding: @grid-gutter-width / 2;
