body
    *
        box-sizing border-box
        margin 0
        padding 0
        background-color black
        color white

    > section
        &.show 
            display: block

        > article,
        > [data-control="pull"]
            a
                color white

        > header
            background-color black

        > footer,
        nav[data-control=groupbar]
            background-color black


    > aside,
    > section
        > header,
        > footer
            > .title.centered
                background-color black
                position absolute
                left 0em
                right 0em
                text-align center
                display inline-block

    > section
        > header
            background-color black
            box-shadow none

            .title
                text-shadow none
                width 100%

form, .form
    input[type="text"],
    input[type="password"],
    form input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    select,
    textarea,
    label.select
        background-color black
        color white

    fieldset
        background black
        border-bottom none

    &.subdiv
        margin-bottom 1px
        border-width 1px
        border-color white
        border-style solid


article
    .button
        background-color black

nav[data-control=groupbar]
    > a
        color white
        transition-property color, box-shadow
        transition-duration 400ms
        transition-timing-function ease

        &:active,
        &.active
            box-shadow none

section
    > footer
    > nav
    > a
        color white
        transition-property color, box-shadow
        transition-duration 400ms
        transition-timing-function ease

    header
        > nav:not(.on-right)
            a,
            button
                color black
                text-shadow none

.coleheader
    color black
    text-shadow none
