body
    background black

nav.navbar-default
    background black
    border none
    margin-bottom 0

h3
    margin-top 0

a.navbar-btn
    color white

input.field
    margin-bottom 1em

.job.text-success
    margin-bottom 1em

