body
    background black

article
    margin-bottom 2em

h3
    margin-top 0

nav.navbar-default
    background black
    border none
    margin-bottom 0

input.field
    margin-bottom 1em

.job.text-success
    margin-bottom 1em

.job.items
    margin-top 1em

.job-collection .text-warning
    display none

.text-info
    background-color white
    padding 5px