@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "bootstrap/variables.less";

body {
    background: @body-bg;
}

article {
    margin-bottom: 2em;
}

input.field {
    margin-bottom: 1em;
}

.lead {
    margin-bottom: 0px;
}

.job.text-success {
    margin-bottom: 1em;
}

.job.items {
    margin-top: 1em;
}

.job-collection {
    display: none;
}

.header-title {
    margin-bottom: 20px;
    text-transform: capitalize;
}

.header-title,
.header-job-name {
    background: #1b5790;
    color: white;
}

.header-job-name {
    border-bottom: 1px solid @btn-nav-bg;
}

.header-help,
.header-job-name,
.header-pdf,
.header-email {
    display: none;
}

.header-title h3,
.header-job-name h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
}

.header-pdf {
    padding-right: 10px;
}

.has-sibling-field {
    margin-bottom: 0px !important;
}

.btn-overview-edit {
    margin-bottom: 5px;
}

.create-link,
.create-link:hover {
    color: #FFFFFF;
}

.btn-nav {
  .button-variant(@btn-nav-color; @btn-nav-bg; @btn-nav-border);
}

.panel-overview {
  .panel-variant(#333; #fff; #000; #333);
}

.text-overview {
  .text-emphasis-variant(#fff);
}

.modal-content {
    color: #000000;
    font-size: 16px;
}

.capitalize {
  text-transform: capitalize;
}

.cost-summary {
  background-color: white;
  color: #333333;
  padding: 10px;
}

.display {
  color: #333333;
}

.panel-heading-link,
.panel-heading-link:active,
.panel-heading-link:focus,
.panel-heading-link:hover,
.panel-heading-link:visited {
  color: #fff;
}

#job-subtotal {
  margin-top: 10px;
}

.header-pdf,
.header-email,
.header-help,
.field-help {
  cursor: pointer;
}

.field-help {
  padding-left: 10px;
  font-size: 16px;
}

#footer-logo {
    margin-top: 20px;
}
