@import "app/styles/_variables.less";

.job {
  &.text-success {
    margin-bottom: 1em;
  }

  &.items {
    margin-top: 1em;
  }

  &.subtotal {
    margin-top: 10px;
  }
}

.cost-summary {
  background-color: white;
  color: #333333;
  padding: 10px;
}

.display {
  color: #333333;
}
