body > section > article, body > section > [data-control="pull"], body > section > article a, body > section > [data-control="pull"] a {
color: white;
}
body * {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
background-color:black;
color:white;
}

body > section > header {
background-color: black;
}

form input[type="text"], .form input[type="text"], form input[type="password"], .form input[type="password"], form input[type="date"], .form input[type="date"], form input[type="datetime"], .form input[type="datetime"], form input[type="email"], .form input[type="email"], form input[type="number"], .form input[type="number"], form input[type="search"], .form input[type="search"], form input[type="tel"], .form input[type="tel"], form input[type="time"], .form input[type="time"], form input[type="url"], .form input[type="url"], form select, .form select, form textarea, .form textarea, form label.select, .form label.select {
background-color: black;
color: white;
}

.form fieldset {
background: black;
border-bottom: none;
}

article .button {
background-color: black;
}

nav[data-control=groupbar] > a:active {
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}

body > section > nav[data-control=groupbar], body > section > footer {
background-color: black;
}

body > aside > header > .title.centered, body > section > header > .title.centered, body > aside > footer > .title.centered, body > section > footer > .title.centered {
background-color: #2f2f2f;
}

section > footer > nav > a, nav[data-control=groupbar] > a {
color: white;
-webkit-transition-property: color, box-shadow;
-moz-transition-property: color, box-shadow;
-ms-transition-property: color, box-shadow;
-o-transition-property: color, box-shadow;
transition-property: color, box-shadow;
-webkit-transition-duration: 400ms;
-moz-transition-duration: 400ms;
-ms-transition-duration: 400ms;
-o-transition-duration: 400ms;
transition-duration: 400ms;
-webkit-transition-timing-function: ease;
-moz-transition-timing-function: ease;
-ms-transition-timing-function: ease;
-o-transition-timing-function: ease;
transition-timing-function: ease;
}

body > section > header .title {
-webkit-text-shadow: black;
-moz-text-shadow: black;
-ms-text-shadow: black;
-o-text-shadow: black;
text-shadow: black;
width: 100%;
}

body > aside > header > .title.centered, body > section > header > .title.centered, body > aside > footer > .title.centered, body > section > footer > .title.centered {
position: absolute;
left: 0em;
right: 0em;
text-align: center;
display: inline-block;
}

body > aside > header > .title.centered, body > section > header > .title.centered, body > aside > footer > .title.centered, body > section > footer > .title.centered {
background-color: black;
}

nav[data-control=groupbar] > a.active, nav[data-control=groupbar] > a:active {
-webkit-box-shadow: black;
-moz-box-shadow: black;
-ms-box-shadow: black;
-o-box-shadow: black;
box-shadow: black;
}

body > section > header {
background-color: black;
-webkit-box-shadow: black;
-moz-box-shadow: black;
-ms-box-shadow: black;
-o-box-shadow: black;
box-shadow: black;
}

section header > nav:not(.on-right) a, section header > nav:not(.on-right) button {
color: black;
-webkit-text-shadow: black;
-moz-text-shadow: black;
-ms-text-shadow: black;
-o-text-shadow: black;
text-shadow: black;
}

.coleheader {
color: black;
-webkit-box-shadow: none;
-moz-text-shadow: none;
-ms-text-shadow: none;
-o-text-shadow: none;
text-shadow: none;
}

section header > nav:not(.on-right) a, section header > nav:not(.on-right) button {
color: black;
text-shadow: black;
}

body > section > header .title {
text-shadow: none;
}

section header > nav:not(.on-right) a, section header > nav:not(.on-right) button {
text-shadow: none;
}

body > section > header {
background-color: black;
-webkit-box-shadow: none;
}
nav[data-control=groupbar] > a.active, nav[data-control=groupbar] > a:active {
-webkit-box-shadow: none;
}

.subdiv.form
{ 
border-width: 1px;
border-color: white;
border-style: solid;
margin-bottom:1px;
}