@import "app/styles/_variables.less";

article > header {
  background: @royal-blue;
  margin: 0 -@component-padding @component-title-margin*4;
  padding: @component-padding/2 @component-padding;

  h2, h4 {
    margin-top: @component-title-margin;
    padding-left: @component-title-margin;
  }

  h2 {
    margin-bottom: @component-title-margin;
    border-bottom: 1px solid @btn-nav-bg;
  }
}


