@import "app/styles/_variables.less";

.job-subtitle,
.job-title {
  background: @royal-blue;

  h3 {
    margin-top: @component-title-margin;
    margin-bottom: @component-title-margin;
    padding-left: @component-title-margin;
  }
}

.job-title {
    border-bottom: 1px solid @btn-nav-bg;
}

.job-subtitle {
    margin-bottom: 20px;
}

