<fieldset>
    <input type="number" placeholder="Profit Margin" id="job-profit-margin" name="margin" class="job field" />
     <input type="text" placeholder="Job Name" id="job-name" name="name" class="job field" />
</fieldset>
<div class="job cost">{{cost}}</div>
<a class="job button save">Save</a>
<a class="job button reset" data-view-article="job-form-type">Start Over</a>
