<fieldset>
    <label id="test">Select a job type</label>
    <select name="job-type" class="type field">
        <option value="1">Slab</option>
        <option value="2">GB- H</option>
        <option value="3">GB - H1A</option>
        <option value="4">GB - V</option>
        <option value="5">Piles</option>
        <option value="6">Truck Well</option>
    </select>
</fieldset>
