<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            {{#if step.prev}}
                <div class="col-xs-4">
                    <button data-path="{{step.prev}}" class="prev btn btn-nav ccma-navigate navbar-btn" role="button">
                        <i class="fa fa-arrow-left fa-2x"></i><br />Back
                    </button>
                </div>
            {{/if}}

            <div class="col-xs-4{{#unless step.prev}} col-xs-offset-4{{/unless}}">
                <button data-path="home" class="home btn btn-nav ccma-navigate navbar-btn center-block" role="button">
                    <i class="fa fa-home fa-2x"></i><br />Home
                </button>
            </div>

            {{#if step.next}}
                <div class="col-xs-4">
                    <button data-path="{{step.next}}" class="next btn btn-nav ccma-navigate navbar-btn pull-right" role="button">
                        <i class="fa fa-arrow-right fa-2x"></i><br />Next
                    </button>
                </div>
            {{/if}}
        </div>
    </div>
</nav>

<div class="header-job-name">
    <div class="container">
        <h3></h3>
    </div>
</div>

<div class="header-title">
    <div class="container">
        <h3>{{title}}</h3>
    </div>
</div>
