<header class="clearfix">
    {{#if back}}
        <a href="#{{back.url}}" class="back"><i class="fa fa-arrow-left"></i>{{back.title}}</a>
    {{/if}}

    <h1 class="centered">{{title}}</h1>
</header>
