<a class="job list-group-item" href="#read.{{id}}">
  <h4 class="job list-group-item-heading">{{row.name}}</h4>
  <div class="job list-group-item-text text-info">
    Cost: $<span class="job cost">{{cost}}</span>
  </div>
</a>
