<div class="container">
  <div class="row">
    <div class="col-xs-12 lead">
      <div>
        <a href="#add" class="create-link">
          Create new estimate
        </a>
      </div>
      <hr />

      <div>
        <a href="#browse" class="create-link">
          Load saved estimate
        </a>
      </div>
      <hr />

      <div>
        <a href="#delete-browse" class="create-link">
          Delete saved estimate
        </a>
      </div>
    </div>
  </div>

  <div id="footer-logo" class="row">
    <div class="col-xs-12">
       <img src="img/logo.png" class="img-responsive center-block" alt="Appstruction">
    </div>
  </div>
</div>
