<fieldset class="form-group">
    <input type="number" placeholder="Profit Margin" id="job-profit-margin" name="margin" class="job field form-control" value="{{row.margin}}" />
    <input type="number" placeholder="Subtotal" id="job-subtotal" name="subtotal" class="job field form-control" value="{{cost}}" />
</fieldset>

<div class="row">
    <div class="col-xs-12 lead">
        Job details
    </div>
</div>

<div id="job-accordion" class="job items panel-group"></div>

<div class="row">
    <div class="col-xs-6">
        <button class="btn btn-primary job reset ccma-navigate form-control" data-path="create">Start Over</button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-success job save form-control" data-path="home">Save</button>
    </div>
</div>
