<fieldset>
    <input type="number" placeholder="Profit Margin" id="job-profit-margin" name="margin" class="job field" value="{{row.margin}}" />
     <input type="text" placeholder="Job Name" id="job-name" name="name" class="job field" value="{{row.name}}" />
</fieldset>
<div class="job cost">{{cost}}</div>
<a class="job button save" href="#home">Save</a>
<a class="job button reset">Start Over</a>
