<h4>{{title}}</h4>

<fieldset class="form-group col-xs-12">
    <label for="job_type_{{cid}}">Select a job type</label>
    <input type="hidden" placeholder="" id="job_type_{{cid}}" name="type" class="field job form-control"></input>
</fieldset>

{{#if step}}
    <button class="btn btn-primary next" data-path="{{step.next}}">Next</button>
{{/if}}
